@page "/cities/create/{StateId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Crear Ciudad</h3>

<CityForm @ref="cityForm"
             City="city"
             OnValidSubmit="Create"
             ReturnAction="Return">

</CityForm>

@code {
    private City city = new();
    private CityForm? cityForm;

    private string url { get; set; } = "/api/cities";

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public int StateId { get; set; }

    private async Task Create()
    {
        city.StateId = StateId;
        var httpResponse = await repository.Post<City, CityForm>(url, city);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await BlazoredModal.CloseAsync(ModalResult.Ok());
        Return();
    }

    private void Return()
    {
        cityForm!.FormPostedSuccesFully = true;
        navigationManager.NavigateTo($"/states/details/{StateId}");
    }
}
